.header {
  height: 90px;
  background-color: #071229;
  display: flex;
  font-family: "Cagliostro", sans-serif;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 10;
}

.logo {
  height: 160px;
  object-fit: contain;
}

.hamburger {
  font-size: 28px;
  color: #f4a300; /* matches Portyours brand color */
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* Optional: Make hamburger disappear on large screens */
/* @media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
} */

